body {
  margin: 0px;
  width: 100%;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

@-webkit-keyframes slideInRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0px);
  }
}

.aboutContainer {
  background: linear-gradient(45deg, #07041a 0%, #190f5e 35%, #cf4130 100%);
  color: #fbefed;
  text-decoration: none;
  animation: fadeInAnimation ease-in;
  animation-duration: 1s;
  width: 100%;
  height: 100vh;
  margin: 0px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.nextArrowAbout {
  color: #fbefed;
  position: absolute;
  right: 0px;
  margin: 20px;
  font-size: 50px;
  z-index: 1;
}

.nextArrowAbout:hover {
  font-size: 55px;
}

.backArrowAbout {
  color: #fbefed;
  width: 5%;
  position: absolute;
  left: 0px;
  margin: 20px;
  margin: 10px;
  font-size: 50px;
  z-index: 1;
}

.backArrowAbout:hover {
  font-size: 55px;
}

.aboutHeader {
  position: absolute;
  right: 6%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 45%;
}

.aboutPicture {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 38%;
  background: #07041a;
  -webkit-animation: slideInRight 2s forwards;
  -moz-animation: slideInRight 2s forwards;
  animation: slideInRight 2s forwards;
}

.aboutHeader .page {
  border-style: double;
  border-width: 5px;
  border-radius: 15px;
  height: 95%;
  width: 95%;
  opacity: 90%;
  z-index: 1;
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}

.aboutHeader .page .pageInner {
  position: relative;
  top: 10%;
  padding: 0px 15px 0px 15px;
}

.pageName {
  padding-bottom: 10px;
  font-size: 4vh;
  font-family: "Rubik", sans-serif;
}

.pageHeader {
  font-size: 3vh;
  font-family: "Rubik", sans-serif;
}

.aboutHeader .page .about {
  margin-top: 10px;
  font-size: 6vh;
  color: #fbefed;
  text-align: center;
  height: 30px;
  width: 500px;
}

.date {
  position: absolute;
  right: 0px;
  margin-bottom: 10vh;
  height: 0px;
  top: 10vh;
  rotate: 90deg;
  z-index: 4;
  font-size: 2vh;
}
