body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-size: 100%;
}

.ohPage {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(0deg, #190f5e 35%, #cf4130 100%);
}

button {
  margin: 15px;
  border-radius: 15px;
  width: 75px;
  height: 25px;
}

.ohHeader {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

.ohButtons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.hiro {
  margin-bottom: 150px;
  display: grid;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  color: whitesmoke;
  height: 100%;
}

.description {
  width: 100%;
  display: grid;
  justify-content: center;
}

.Bio {
  line-height: 1.8;
  letter-spacing: 1px;
  width: 45vw;
}

.hiroPicture {
  width: 100vw;
  display: grid;
  justify-content: center;
}

.pictureHiro {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  /* background-color: orangered; */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/pictures/Hiro.jpg);
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.ash {
  margin-bottom: 150px;
  display: grid;
  /* justify-content: center; */
  text-align: center;
  align-content: center;
  align-items: center;
  color: whitesmoke;
  height: 100%;
}

.ashPicture {
  width: 100vw;
  display: grid;
  justify-content: center;
}

.pictureAsh {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  /* background-color: slategray; */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/pictures/Ash2.jpg);
  /* justify-content: center;
  align-items: center; */
  display: flex;
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.2);
}
