body {
  margin: 0px;
  width: 100%;
  background-color: #07041a;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

@-webkit-keyframes slideInTop {
  0% {
    transform: translateY(-900px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInTop {
  0% {
    transform: translateY(-900px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInTop {
  0% {
    transform: translateY(-900px);
  }
  100% {
    transform: translateY(0);
  }
}

.projectsContainer {
  background: linear-gradient(45deg, #07041a 0%, #190f5e 35%, #cf4130 100%);
  color: #fbefed;
  width: 100%;
  height: 100vh;
  margin: 0px;
  display: flex;
  align-items: center;
}

.nextArrowProjects {
  position: fixed;
  right: 0px;
  color: #fbefed;
  text-align: end;
  font-size: 50px;
  margin: 20px;
  z-index: 1;
}

.nextArrowProjects:hover {
  color: #fbefed;
  text-align: end;
  font-size: 55px;
}

.backArrowProjects {
  position: fixed;
  color: #fbefed;
  text-align: start;
  font-size: 50px;
  margin: 20px;
  z-index: 1;
}

.backArrowProjects:hover {
  color: #fbefed;
  text-align: start;
  font-size: 55px;
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 5px;
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.2);
}

.projects {
  position: absolute;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  row-gap: 50px;
  column-gap: 50px;
  justify-content: center;
  justify-items: center;
  grid-template-areas:
    "z z"
    "a b"
    "a b"
    "c d"
    "c d";
  height: 80%;
}

.header {
  grid-area: z;
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin: 0px;
  -webkit-animation: slideInTop 2s forwards;
  -moz-animation: slideInTop 2s forwards;
  animation: slideInTop 2s forwards;
}

.projectOne:hover {
  opacity: 20%;
  transition: 0.3s ease-in;
  filter: blur(1px);
}

.projectTwo:hover {
  opacity: 20%;
  transition: 0.3s ease-in;
  filter: blur(1px);
}

.projectThree:hover {
  opacity: 20%;
  transition: 0.3s ease-in;
  filter: blur(1px);
}

.projectFour:hover {
  opacity: 20%;
  transition: 0.3s ease-in;
  filter: blur(1px);
}

.projectOne {
  cursor: pointer;
  grid-area: a;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg-new.cgtrader.com%2Fitems%2F160480%2Fpaint_splatter_3d_model_5d2328a0-9f14-4a99-b12d-de28a5e6f3ce.jpg&f=1&nofb=1&ipt=4da2d3bbba8a7adb11273de82207c35d0ba7b5db442b8cd4ff27675da586cdb9&ipo=images");
  transition: 0.3s ease-in;
  width: 350px;
  height: 250px;
  position: relative;
  background-size: 350px, 250px;
  z-index: 3;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

p {
  padding: 0px;
  margin-bottom: 0px;
}

.pOne {
  overflow: hidden;
  position: absolute;
  height: 250px;
  width: 315px;
  left: 20px;
  right: 20px;
  top: 8px;
  font-size: 72%;
  letter-spacing: 1px;
  line-height: 15px;
  grid-area: a;
  color: white;
  z-index: 1;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.projectTwo {
  cursor: pointer;
  grid-area: b;
  /* background-image: url(images/projectTwo.png); */
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg-new.cgtrader.com%2Fitems%2F160480%2Fpaint_splatter_3d_model_5d2328a0-9f14-4a99-b12d-de28a5e6f3ce.jpg&f=1&nofb=1&ipt=4da2d3bbba8a7adb11273de82207c35d0ba7b5db442b8cd4ff27675da586cdb9&ipo=images");
  transition: 0.3s ease-in;
  width: 350px;
  height: 250px;
  position: relative;
  background-size: 350px, 250px;
  z-index: 3;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.pTwo {
  overflow: hidden;
  position: absolute;
  height: 250px;
  width: 315px;
  left: 20px;
  right: 20px;
  top: 8px;
  font-size: 72%;
  letter-spacing: 1px;
  line-height: 15px;
  grid-area: b;
  color: white;
  z-index: 1;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.projectThree {
  cursor: pointer;
  grid-area: c;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg-new.cgtrader.com%2Fitems%2F160480%2Fpaint_splatter_3d_model_5d2328a0-9f14-4a99-b12d-de28a5e6f3ce.jpg&f=1&nofb=1&ipt=4da2d3bbba8a7adb11273de82207c35d0ba7b5db442b8cd4ff27675da586cdb9&ipo=images");
  transition: 0.3s ease-in;
  width: 350px;
  height: 250px;
  position: relative;
  background-size: 350px, 250px;
  z-index: 3;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.pThree {
  overflow: hidden;
  position: absolute;
  height: 250px;
  width: 315px;
  left: 20px;
  right: 20px;
  top: 8px;
  font-size: 72%;
  letter-spacing: 1px;
  line-height: 15px;
  grid-area: c;
  color: white;
  z-index: 1;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.projectFour {
  cursor: pointer;
  grid-area: d;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg-new.cgtrader.com%2Fitems%2F160480%2Fpaint_splatter_3d_model_5d2328a0-9f14-4a99-b12d-de28a5e6f3ce.jpg&f=1&nofb=1&ipt=4da2d3bbba8a7adb11273de82207c35d0ba7b5db442b8cd4ff27675da586cdb9&ipo=images");
  transition: 0.3s ease-in;
  width: 350px;
  height: 250px;
  position: relative;
  background-size: 350px, 250px;
  z-index: 3;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.pFour {
  overflow: hidden;
  position: absolute;
  height: 250px;
  width: 315px;
  left: 20px;
  right: 20px;
  top: 8px;
  font-size: 72%;
  letter-spacing: 1px;
  line-height: 15px;
  font-size: 12px;
  grid-area: d;
  color: white;
  z-index: 1;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

/* ---------------------------------------------------------------------------------------------------------- */

@media only screen and (max-height: 700px) {
  .projectOne,
  .projectTwo,
  .projectThree,
  .projectFour {
    width: 250px;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-radius: 5px;
  }

  .pOne,
  .pTwo,
  .pThree,
  .pFour {
    height: 150px;
    width: 215px;
    left: 20px;
    right: 20px;
    top: 8px;
    font-size: 52%;
  }

  .projects {
    position: absolute;
    left: 0px;
    right: 0px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
      "z z"
      "a b"
      "a b"
      "c d"
      "c d";
    height: 500px;
  }
}

/* ---------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
  body {
    overflow: auto;
  }

  body::-webkit-scrollbar-thumb {
    background-color: red;
  }

  .projects {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    row-gap: 50px;
    /* column-gap: 50px; */
    justify-content: center;
    justify-items: center;
    grid-template-areas:
      "z z"
      "a a"
      "b b"
      "c c"
      "d d";
    height: 1100px;
  }

  .projectOne,
  .projectTwo,
  .projectThree,
  .projectFour {
    width: 250px;
    height: 150px;
  }
}
