body {
  margin: 0px;
  width: 100%;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

.emailAddress {
  font-size: 10pt;
}

.socialContainer {
  cursor: none;
  animation: fadeInAnimation ease-in;
  animation-duration: 1s;
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.nextArrowSocial {
  position: absolute;
  left: 0px;
  color: #fbefed;
  font-size: 50px;
  margin: 20px;
}

.nextArrowSocial:hover {
  position: absolute;
  left: 0px;
  color: #fbefed;
  font-size: 55px;
  margin: 20px;
}

.socialHeader {
  justify-content: center;
  position: absolute;
  display: grid;
  width: 600px;
  height: 500px;
  border-radius: 5px;
  background-color: #5e54ca;
  box-shadow: 0 0 1em 2em rgba(0, 0, 0, 0.2);
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}

input::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}

textarea::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}

.sendMessageButton {
  margin-bottom: 25px;
  background-color: cornflowerblue;
  width: 60px;
  height: 40px;
  font-size: 12px;
  border-radius: 50px;
  border: 0px;
  font-weight: bolder;
  opacity: 100%;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
  transition-duration: 0.5s;
  text-transform: uppercase;
}

.sendMessageButton:hover {
  position: absolute;
  transform: scale(1.1);
  transition-duration: 0.5s;
  cursor: pointer;
}

.name {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px #5e54ca,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.email {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px #5e54ca,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.message {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px #5e54ca,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

button {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px #5e54ca,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.ohSocialPage {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 7px;
  color: whitesmoke;
  text-decoration: none;
}

.ohSocialPage:hover {
  cursor: help;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  margin: 10px;
}

.email,
.phone,
.name {
  border-radius: 5px;
  text-align: left;
  outline: none;
  color: white;
  height: 40px;
  width: 400px;
  background-color: #392f9a;
  border: 0px;
  opacity: 0.8;
  padding: 1px 15px 1px 15px;
  font-size: 18px;
}

.message {
  resize: none;
  overflow: auto;
  border-radius: 5px;
  color: white;
  padding: 15px;
  outline: none;
  height: 100px;
  text-decoration: none;
  width: 400px;
  background-color: #392f9a;
  border: 0px;
  opacity: 0.8;
  font-size: 18px;
}

.socialHeader h2 {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

.socialHeader .contactMe {
  opacity: 0.8;
  margin: 0px;
  padding-top: 20px;
}

@media only screen and (max-width: 650px) {
  .emailAddress {
    font-size: 7pt;
  }

  .socialHeader {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 450px;
  }

  .socialContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .socialHeader h2 {
    position: absolute;
    right: 15px;
    top: 65px;
    width: 250px;
    font-size: 10px;
  }

  .contactInfo {
    font-size: 6px;
    justify-content: center;
    margin-top: 15px;
  }

  .message,
  .email,
  .phone,
  .name {
    width: 250px;
  }

  .contactMe {
    padding-top: 0px;
  }

  .nextArrowSocial {
    visibility: hidden;
  }
}
