.App {
  font-family: sans-serif;
}

/* html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-image: url("https://i.ibb.co/1RHr40z/248599.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 20px;
} */

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
